.home {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px; /* Adjust this value based on your design */
  }
  
  .home__row {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
    flex-wrap: wrap; /* Allow wrapping for responsiveness */
  }
  
  /* Responsive grid for product cards */
  @media (max-width: 768px) {
    /* On smaller screens, reduce padding/margin */
    .home {
      padding: 0 10px; /* Add padding to the sides */
    }
    .home__row {
      margin-left: 0;
      margin-right: 0;
      justify-content: space-around;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1200px) {
    /* On medium screens, adjust padding and spacing */
    .home {
      padding: 0 20px; /* More padding on the sides */
    }
    .home__row {
      justify-content: space-between;
    }
  }
  
  @media (min-width: 1200px) {
    /* On large screens, use max-width and auto margins for centering */
    .home {
      max-width: 1500px; /* Adjust as needed */
      margin-left: auto;
      margin-right: auto;
      padding: 0; /* No padding on the sides */
    }
    .home__row {
      justify-content: space-between;
    }
  }
  
  .home__image {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }