.home {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
  }
  
  .home__banner {
    position: relative;
  }
  
  .home__shippingText {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    font-size: 14px;
  }
  
  .home__row {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
    flex-wrap: wrap;
  }
  
  @media (max-width: 768px) {
    .home {
      padding: 0 10px;
    }
    .home__row {
      margin-left: 0;
      margin-right: 0;
      justify-content: space-around;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1200px) {
    .home {
      padding: 0 20px;
    }
    .home__row {
      justify-content: space-between;
    }
  }
  
  @media (min-width: 1200px) {
    .home {
      max-width: 1500px;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
    }
    .home__row {
      justify-content: space-between;
    }
  }
  
  .home__image {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }